*,* :before, *:after {
  box-sizing: border-box;
}

body {
  background-color:  rgb(177, 176, 174);
}

.container {
  position:  center;
  position:  relative;
  margin:  0 auto;
  background-color: white;
  Height:  667px;
  Width:  375px;
  Font-size:  18px;

}

nav {
  position: fixed;
  background-color:  #2d923e;
  height:  149px;
  width:  375px;
  box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);


}

.base {
  position: absolute;
  width:  375px;
  height:  20px;
  left:  0px;
  top:  0px;
  background-image:  url(Base.png);
}

.backarrow {
  width:  12.27px;
  height:  20.66px;
  position:  absolute;
  left:  2.13%;
  right:  94.59%;
  top:  16%;
  bottom:  93.3%;
  background-image:  url("back arrow.png");

}

h1 {
  position:  absolute;
  display:  inline-block;
  width: 317px;
  height: 22px;
  top:  4px;
  left:  8%;
  font-family: SF UI Display;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.0241176em;

  color: #FFFFFF;
}

.input-container {
  position:  relative;
  display: block;

  background: #FFFFFF;
  border-radius: 4px;
  height:  40px;
  width:  257px;
  left:  15.73%;
  right:  15.73%;
  top:  34%;
  bottom: 86.81%;
}

.Search-icon {
  margin-left:  30px;
  align-items: center;
  position:  relative;


  border-style:  none;
}



.input-field {
  position:  relative;
  top:  8px;
  border-style:  none;
  font-size:  18px;
}

.Search {
position: absolute;
height:  18.16px;
width:  18px;
src:  url("Search.png");
background-repeat:  no-repeat;
left: 2.72%;
right: 90.27%;
top: 27.5%;
bottom: 27.1%;
}

.input-container2 {
  position:  relative;
  display: block;
  background: #FFFFFF;
  border-radius: 4px;
  height:  40px;
  width:  257px;
  top:  25px;
}

.switcharrows {
  position: relative;
  background-image:  url("switcharrows.png");
  background-repeat:  no-repeat;
  left: 270px;
  bottom:  12px;
}

.businformation {
  position:  absolute;
  width:  375px;
  height:  518px;
  left:  0px;
  top:  149px;

}

.content {
  position:  relative;
  margin:  0 auto;
  left:  0px;
  height:  67px;

  border-bottom: 1px color:  black;
}




}
